{% extends 'base.html' %}

{% block title %}
Edit Order
{% endblock title %}

{% block body %}

<div class="row">

<div class="col-md-4">
</div>

<div class="col-md-4">
<br>

<h4 class="text-center bg-success text-white">Update Your Order</h4>
<br>


<form action="/edit/{{posts.oid}}" method="post" class="jumbotron">

 

  <div class="form-group">

    <input type="email" class="form-control" id="email" value={{posts.email}} name="email" required>
  
  </div>

  <div class="form-group">
  
    <input type="text" class="form-control" id="name" name="name" value={{posts.name}} placeholder="Full Name" required>
  
  </div>

 <div class="form-group">

  <input type="text" class="form-control" id="item" name="item" value={{posts.item}} placeholder="Item Name" required>        
                                      
 </div>

 <div class="form-group">
          
  <input type="number" class="form-control" id="quantity" name="quantity" value={{posts.quantity}} placeholder="Quantity" required>
                                  
 </div>

 <div class="form-group">

  <input type="text" class="form-control" id="method" name="method" value={{posts.method}} placeholder="Method of Payment" required>        
                                      
 </div>

  <div class="form-group">
    
    <input type="time" class="form-control" value={{posts.time}}  name="time" placeholder="Time" required>
  
  </div>
  <div class="form-group">
    
    <input type="date" class="form-control" value={{posts.date}}  name="date" placeholder="date" required>
  
  </div>

  <div class="form-group">

    <input type="text" class="form-control" value={{posts.category}}  id="category" name="category" placeholder="category" required>
  
  </div>

  <div class="form-group">

    <input type="number" class="form-control" value={{posts.number}}  id="number" name="number" placeholder="Phone Number" required>
  
  </div>

  
  <button type="submit" class="btn btn-warning btn-sm btn-block">Update</button>
</form>




</div>
<div class="col-md-4"></div>
</div>


{% endblock body %}